<%= render "/layouts/header_me" %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>
      <div class="ih-item circle effect15 left_to_right header-circle" >
        <!-- <a href="#"> -->
          <div style="text-align: center">
             <!-- data-toggle="modal" data-target="#layer" href="#" -->
             <!-- <a class="btn btn-primary btn-sm">
              <span style="color: #ffff" >作者微信&rarr;</span>
            </a> -->
         
        <img src='/me/auth.png'><br>
        工作时间：10:00-19:00
        <!--a class="start-misic" style="display: none;" data-toggle="modal" data-target="#layer" href="#">
          编程并不简单，却很快乐。请坚持下去，告诉自己你能行！<span style="color:red;">点击加班长微信。</span>
          <br>
        </a-->

        <!--a class="stop-misic" style="display: none;">加油，你不是一个人在战斗！</a-->
          </div>
        <!-- </a> -->
      </div>
      </p>
    </div>
  </div>
</div>

<!--魔态框-->
<div role="dialog" class="modal fade" id="layer">
  <div class="modal-dialog">
    <img src="/me/auth.png" data-dismiss="modal" style="width: 80%;margin: 10%;">
  </div>
</div>

<!--audio loop="loop" class="audio-tag" type="audio/mpeg" src="/sound.mp3"></audio>
<script src="/js/music.js"></script-->

