<!--link href="/css/sound.css" rel="stylesheet"-->
<header class="masthead" style="background-image: url('http://video.zhihuichina.net.cn/contact-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>ruby on rails
          </h1>
          <span class="subheading">编程我只学全栈！！！</span>
        </div>
      </div>
    </div>
  </div>
</header>
