<header class="masthead" style="background-image: url('http://video.zhihuichina.net.cn/header.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1 style="font-size: 55px;" id="h1">Ruby On Rails 学习中心</h1>
          <span class="subheading">可以节省学习时间提高学习效率的干货网站</span>
        </div>
      </div>
    </div>
  </div>
</header>